<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	<h1>Cadastro de contatos</h1>
	<form action="" method="post">
		<label for="nome">Nome:</label>
        <input type="text" value="" name="nome">
        <label for="email">E-mail:</label>
        <input type="text" value="" name="email"><br>
        <label for="contato">Contato:</label>
        <input type="text" value="" name="contato">
        <label for="recado">Recado:</label>
        <input type="text" value="" name="recado">
        <label for="endereco">Endereço:</label>
        <input type="text" value="" name="endereco">
        <label for="cidade">Cidade:</label>
        <input type="text" value="" name="cidade">
        <label for="estado">Estado:</label>
        <input type="text" value="" name="estado">
        <label for="numeroCasa">Nº:</label>
        <input type="text" value="" name="numeroCasa">
        <button type="submit">Cadastrar</button>
	
	</form>
    
</body>
</html>